<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rssreader.mrlu.myrssreader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name=".Controller.LoginActivity" />
        <activity android:name=".Controller.ListActivity" />
        <activity android:name=".Controller.ShowDescriptionActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Controller.SettingsActivity" />
        <activity android:name=".Controller.InputRssLinkActivity" />
        <activity android:name=".Controller.FeedlyRssQuery" />
        <activity
            android:name=".Controller.mainView"
            android:launchMode="singleInstance" />
        <activity android:name=".Controller.RssFeedListActivity" />
        <activity android:name=".Controller.openScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.AboutActivity" />
        <activity android:name=".Controller.AppearPageActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!--<service-->
            <!--android:name=".Test.MyService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" />-->

        <!--<receiver-->
            <!--android:name=".Test.MyReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>&ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>